%div(class="col left width_4_columns")
  .actions
    %p You are about to borrow: <%= title %>
    %form(class="barcode-pin-confirm-form")
      %input(type="password" pattern="[0-9]*" name="pin-input" class="pin-input" placeholder="Type PIN code")

