.content
  %a.col.left.width_2_columns.data_ownstuff(href="#/own-stuff" data-name="own-stuff") My loans
  %a.col.right.width_2_columns.data_library(href="#/library" data-name="library") Library

  %a.col.left.width_2_columns.data_friendloan(href="#/friend-loan" data-name="friend-loan") Borrow from<br>a friend
  %a.col.right.width_2_columns.data_settings(href="#/settings" data-name="settings") My info

