.mid-bar.menu
  %a.selected.half(href="#/loans" data-name="loans")loans
  %a.half(href="#/reserved" data-name="reserved")reserved

.content-scroller
  .content
    %ul.loans.selected(data-name="loans")
    %ul.reserved(data-name="reserved")
    -# %ul.history(data-name="history")

    %a.renew-all.button(href="#/renewAll") Renew all loans

