%a(href="#/renew_loan" class="button renew-loan") Renew loan
%a(href="#/reserve" class="button reserve-book") Reserve item
%a(href="#/add" class="button small add-pin") Pin item 
%a(href="#/fb_like" class="button small fb-like") Recommend 

.holdings
  %b.holdings-header <%= holdings_count %> <%= holdings_word %> available:
  .holdings-content <%= holdings_content %>
