%div(class="col left width_4_columns")
  .actions
    %p Olet lainaamassa: <%= title %>
    %form(class="barcode-pin-confirm-form")
      %input(type="password" pattern="[0-9]*" name="pin-input" class="pin-input" placeholder="Syötä pin-koodi")

