.content
  %a.col.left.width_2_columns.data_ownstuff(href="#/own-stuff" data-name="own-stuff") Omat lainat
  %a.col.right.width_2_columns.data_library(href="#/library" data-name="library") Kirjasto

  %a.col.left.width_2_columns.data_friendloan(href="#/friend-loan" data-name="friend-loan") Lainaa kaverilta
  %a.col.right.width_2_columns.data_settings(href="#/settings" data-name="settings") Omat tiedot

