%header
  %h1 Lainakuitti
  %h2 <%= current_date %> 
  %p
    \-------------------------

%ul

%footer 
  %p
    \-------------------------
  %p
    Kiitos ja hyv채채 p채iv채njatkoa!
.bottom
