%a(href="#/renew_loan" class="button renew-loan") Uusi laina
%a(href="#/reserve" class="button reserve-book") Varaa teos
%a(href="#/add" class="button small add-pin") Muistilistaan
%a(href="#/fb_like" class="button small fb-like") Suosittele

.holdings
  %b.holdings-header <%= holdings_count %> <%= holdings_word %> hyllyssä:
  .holdings-content <%= holdings_content %>
