%div(class="col left width_4_columns")
  .actions
    %p Du vill låna: <%= title %>
    %form(class="barcode-pin-confirm-form")
      %input(type="password" pattern="[0-9]*" name="pin-input" class="pin-input" placeholder="Mata in din PIN-kod")

