%header
  %h1 Lånekvitto
  %h2 <%= current_date %> 
  %p
    \-------------------------

%ul

%footer 
  %p
    \-------------------------
  %p
    Tack och god fortsättning på dagen!
.bottom
