%a(href="#/renew_loan" class="button renew-loan") Nya lån
%a(href="#/reserve" class="button reserve-book") Reservera
%a(href="#/add" class="button small add-pin") Till Minneslistan 
%a(href="#/fb_like" class="button small fb-like") Rekommendera 

.holdings
  %b.holdings-header <%= holdings_count %> <%= holdings_word %> inne:
  .holdings-content <%= holdings_content %>
