.delete
.title <%= short_title %>
.thumbnail
  <img src="<%= thumbnail_url %>">
.author <%= short_author %>
.year <%= publication_year %>
\<div class="status <%= status_important %>"><%= status %></div>
