#marked
  =::Haml::Engine.new(File.read('templates/fi/marked.haml'), instance_variable_get(:@haml_buffer).options).render
  
%script(type="text/template" id="work-item-template")
  =::Haml::Engine.new(File.read('templates/fi/work_collection_item.haml'), instance_variable_get(:@haml_buffer).options).render
